.category{
  .category-wrapper{
    overflow: hidden;
    display: flex;
    position: fixed;
    top: 100rpx;
    bottom: 0rpx;
    left: 0rpx;
    right: 0rpx;
    .left-menu{
      background-color: #f4f4f4;
      width: 198rpx;
      flex-shrink: 0;
      ul{
        li{
          padding: 20rpx 0rpx;
          box-sizing: border-box;
          border-bottom: 1px solid #ebebeb;
          position: relative;
          .menu-text{
            height: 60rpx;
            display: block;
            text-align: center;
            line-height: 60rpx;
            font-size: 14px;
          }
          &.menu-active{
            color: #ff2d4a;
            font-weight: 600;
            background-color: #fff;
            &::before{
              content: '';
              width: 8rpx;
              height: 60rpx;
              display: block;
              position: absolute;
              top: 20rpx;
              left: 0px;
              background-color: #ff2d4a;
            }
          }
        }
      }
    }
    .right-content{
      flex: 1;
      padding: 0rpx 16rpx;
      background-color: rgb(255, 255, 255);
      .content-wrapper{
        padding: 20rpx 0rpx;
        .content-list{
          .banner{
            width: 520rpx;
            height: 180rpx;
            background-color: #f4f4f4;
          }
          .content{
            h3{
              font-size: 16px;
              padding: 10rpx 0rpx;
              margin: 0rpx;
              text-align: center;
              line-height: 60rpx;
              border-bottom: 1px solid #f4f4f4;
            }
            ul{
              display: flex;
              flex-wrap: wrap;
              li{
                width: 33.33%;
                .cate-list{
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  padding: 15rpx;
                  .cat-icon{
                    width: 120rpx;
                    height: 120rpx;
                    display: block;
                    margin-bottom: 10rpx;
                  }
                  .cat-name{
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}