.cart{
  
  .address-wrapper{
    height: 180rpx;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45rpx 16rpx 48rpx;
    .addr{
      .consignee-user{
        display: flex;
        .user{
          width: 130rpx;
          flex-shrink: 0;
        }
        .info-wrapper{
          flex: 1;
          display: flex;
          justify-content: space-between;
          padding-left: 20rpx;
          // .name{}
          .phone{
            .more{
              font-size: 12px;
              color: #bbb;
              padding: 0 20rpx;
            }
          }
        }
      }
      .consignee-address{
        .address{
          padding-left: 20rpx;
        }
      }
    }
    .get-address{
      width: 718rpx;
      border: none;
      // box-sizing: border-box;
    }
  }
  .line{
    width: 750rpx;
    height: 15rpx;
    background-image: url('../../../static/images/cart_border@2x.png');
    background-repeat: no-repeat;
  }
  .cart-wrapper{
    .title{
      height: 88rpx;
      line-height: 88rpx;
      font-size: 16px;
      font-weight: 600;
      color: #333;
      padding-left: 30rpx;
      border-bottom: 2px solid #f4f4f4;
    }
    .cart-content{
      // padding: 0 16rpx 0px 0rpx;
      .cart-list{
        display: flex;
        padding: 24rpx 0;
        // height: 205rpx;
        // box-sizing: border-box;
        .select-icon{
          width: 88rpx;
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          &.hasSelected{
            color: #ff2d4a;
          }
          // background-color: #f4f4f4;
        }
        .good-wrapper{
          flex: 1;
          display: flex;
          padding-bottom: 20rpx;
          padding-right: 16rpx;
          border-bottom: 1px solid #f4f4f4;
          .good-img{
            flex-shrink: 0;
            // width: 160rpx;
            // height: 160rpx;
            // overflow: hidden;
            margin-right: 20rpx;
            // background-color: #f4f4f4;
            img{
              width: 160rpx;
              height: 160rpx;
            }
          }
          .good-info{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .good-name{
              font-size: 14px;
              color: #333;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
            .tool-wrapper{
              display: flex;
              justify-content: space-between;
              .price-wrapper{
                font-size: 14px;
                color: #ff2d4a;
                .price{
                  font-size: 20px;
                  font-weight: 600;
                }
              }
              .tool{
                color: #bbb;
                display: flex;
                align-items: center;
                padding-right: 15rpx;
                .reduce{
                  font-size: 22px;
                }
                .count{
                  font-size: 14px;
                  width: 80rpx;
                  text-align: center;
                }
                .add{
                  font-size: 22px;
                }
              }
            }
          }
        }
      }
    }
  }
  .pay-tool{
    height: 98rpx;
    width: 750rpx;
    display: flex;
    align-items: center;
    padding-left: 30rpx;
    position: fixed;
    bottom: 0;
    left: 0px;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 0px rgba(20, 22, 43, 0.26);
    .tool-left{
      flex: 1;
      display: flex;
      justify-content: space-between;
      &.checked-padding{
        padding-right: 20rpx;
      }
      .select-all{
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        .checked-icon{
          font-size: 20px;
          // &.active{}
        }
        .checked-text{
          color: #333333;
          padding-left: 30rpx;
        }
      }
      .all-price{
        .count-wrapper{
          .total{
            font-size: 16px;
            color: #333;
          }
          .price-wrap{
            color: #ff2d4a;
            font-size: 14px;
            .count-price{
              font-size: 20px;
              font-weight: 600;
            }
          }
        }
        .include-pay{
          font-size: 12px;
          color: #bbb;
        }
      }
      .delete-wrapper{
        width: 100rpx;
        height: 98rpx;
        font-size: 14px;
        color: #fff;
        line-height: 98rpx;
        text-align: center;
        background-color: #f4b73f;
      }
    }
    .pay{
      height: 98rpx;
      width: 130rpx;
      line-height: 98rpx;
      text-align: center;
      flex-shrink: 0;
      color: #fff;
      font-size: 14px;
      background-color: #ff2d4a;
    }
  }
}